{% extends "master.html" %}
{% load widget_tweaks %}

{% block title %}Projectsubsidie aanvragen{% endblock %}
{% block pageheading %}Projectsubsidie aanvragen{% endblock %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker3.css" />
{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_project-project_date').datepicker({
        format: 'yyyy-mm-dd'
    });

    {% if extend %}
    var a_tag = $('#income-form')
    $('html,body').animate({scrollTop: a_tag.offset().top}, 'fast');
    {% endif %}
});
</script>
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="{% url 'request_project' %}">
{% csrf_token %}
{% for fieldset in form.fieldsets %}
<div class="panel panel-primary">
    {% if fieldset.legend %}
    <div class="panel-heading">{{ fieldset.legend }}</div>
    {% endif %}
    {% if fieldset.description %}
    <div class="panel-body">
        {{ fieldset.description }}
    </div>
    {% endif %}

    {% for field in fieldset %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {% render_field field class="form-control" %}
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}

<div class="panel panel-success">
    <a name="income-form" id="income-form"></a>
    <div class="panel-heading">Begrote inkomsten</div>

    {{ expected_income_formset.management_form }}

    <table class="table table-striped">
    {% for form in expected_income_formset %}
    <tr class="income-form row">
        <td class="col-sm-10">
            <div classs="form-group {% if form.description.errors %}has-error{% endif %}">
                {% render_field form.description placeholder=form.description.label class+="form-control" %}
            </div>
        </td>
        <td class="col-sm-2">
            <div class="input-group {% if form.amount.errors %}has-error{% endif %}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                {% render_field form.amount placeholder=form.amount.label class+="form-control" %}
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>
    <div class="panel-body">
        <button type="submit" class="btn btn-success" name="extend_income_expenses">Meer</button>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">Begrote uitgaven</div>

    {{ expected_expense_formset.management_form }}

    <table class="table table-striped">
    {% for form in expected_expense_formset %}
    <tr class="expense-form row">
        <td class="col-sm-10">
            {% render_field form.description placeholder=form.description.label class+="form-control" %}
        </td>
        <td class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                {% render_field form.amount placeholder=form.amount.label class+="form-control" %}
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>
    <div class="panel-body">
        <button type="submit" class="btn btn-warning" name="extend_income_expenses">Meer</button>
    </div>
</div>

<p>
    <button type="submit" class="btn btn-primary btn-lg" name="submit">Aanvragen</button>
</p>
</form>
{% endblock %}
