{% extends "master.html" %}

{% block title %}Projectsubsidie aanvragen{% endblock %}
{% block pageheading %}Projectsubsidie aanvragen{% endblock %}

{% block content %}
<form method="post" action="{% url 'request_project' %}">
{{ form.as_p }}

<h2>Begrote inkomsten</h2>
<table class="table table-striped">
{{ expected_income_formset }}
</table>

<h2>Begrote uitgaven</h2>
<table class="table table-striped">
{{ expected_expense_formset }}
</table>

<p>
    <input type="submit" value="Aanvragen" />
</p>
</form>
{% endblock %}
